/* line 1, ../../../../sass/core/components/cat.scss */
.cat {
  margin-bottom: 30px;
}

/* line 5, ../../../../sass/core/components/cat.scss */
.cat__image {
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
}
/* line 11, ../../../../sass/core/components/cat.scss */
.cat__image img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: 100%;
  transform: translate(-50%, -50%);
}

/* line 21, ../../../../sass/core/components/cat.scss */
.cat__details {
  margin-top: 10px;
}
/* line 28, ../../../../sass/core/components/cat.scss */
.cat__details .price {
  float: right;
}
