.cat-info {
    h2 {
        margin-bottom: 0;
    }

    .breed {
        display: block;
        margin-bottom: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .description {
        margin-bottom: 30px;
    }
}