.cat-info {
    padding-top: 30px;

    h2 {
        margin-bottom: 0;
        display: inline-block;
        position: relative;
        padding-right: 65px;
    }

    .breed {
        display: block;
        margin-bottom: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .description {
        margin-bottom: 30px;
    }

    @include respond-min($tablet) {
        padding-top: 0;
    }
}