.cat {
    margin-bottom: 30px;

    &:hover {
        .cat__image img {
            transform: translate(-50%, -50%) scale(1.1);
        }

        .name {
            color: $cms-color-secondary;
        }
    }
}

.cat__image {
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        width: auto;
        height: 100%;
        transform: translate(-50%, -50%);
        transform-origin: 50% 50%;
        @include transition(transform 1s linear);
    }
}

.cat__details {
    margin-top: 10px;

    .name {
        color: $cms-color-text;
        font-weight: 700;
        font-size: 1.125rem;
    }
}