.cat-info {
    h2 {
        margin-bottom: 0;
        display: inline-block;
        position: relative;
        padding-right: 55px;
    }

    .breed {
        display: block;
        margin-bottom: 30px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .description {
        margin-bottom: 30px;
    }

    .likes {
        position: absolute;
        right: 0;
        top: 0;
        width: 45px;
        font-size: 20px;
    }
}