.likes--big {
    background: url("/images/heart-icon.png") no-repeat left top;
    background-size: cover;
    width: 45px;
    height: 39px;
    line-height: 39px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-weight: bold;
}