.logo {
    background: url("../images/spacats-logo.png") no-repeat left top;
    background-size: cover;
    margin-top: 11px;
    display: inline-block;
    width: 187px;
    height: 36px;
    @include hide-text();
}