<!DOCTYPE html>
<html>
<head>
    <title>Cofoundry SPA Sample</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Content/css/screen.css">
</head>

<body>
    <main>
        <h1 style="font-size:100px">Word to your mother</h1>
    </main>

    <script src="/Content/js/compiled/CofoundrySPA.js"></script>

    <script id="catItem" type="text/template">
        <img src="<%= image %>" alt="">
        <h2 class="name"><%= name %></h2>
        <h3 class="breed"><%= breed %></h3>
    </script>
</body>
</html>