<!DOCTYPE html>
<html>
<head>
    <title>Cofoundry SPA Sample</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Content/css/screen.css">
</head>

<body>
    <main>
        <h1 style="font-size:1000px">Word to your mother</h1>
    </main>

    <script src="/Content/js/compiled/CofoundrySPA.js"></script>
</body>
</html>