<!DOCTYPE html>
<html>
<head>
    <title>Cofoundry SPA Sample</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/screen.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,700" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/" class="logo">SPA Cats</a>
            </div>

            <div id="bs-example-navbar-collapse-6" aria-expanded="false" class="navbar-collapse collapse">
                <ul class="navbar__menu">
                    <li><a href="/">Cats</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="main">
        
    </main>

    <!-- TEMPLATES -->
    <script id="indexTemplate" type="text/template">
        <div class="hero-banner">
            <img src="/Content/images/cat-fight-hero.jpg">

            <div class="container hero-banner__overlay">
                <div class="hero-banner__text">
                    <h1>Cats SPArring!</h1>
                </div>
            </div>
        </div>

        <div class="container content-block">
            <div class="row">
                
            </div>
        </div>
    </script>

    <script id="catItem" type="text/template">
        <a href="/cat/<%= catId %>">
            <div class="cat__image">
                <img src="/assets/images/<%= mainImage.imageAssetId %>_<%= mainImage.fileName %>.jpg">
            </div>
            <div class="cat__details">
                <span class="name"><%= name %></span>
            </div>
        </a>
    </script>

    <script id="catDetails" type="text/template">
        <div class="container content-block">
            <div class="col-sm-6 cat-images">
                <img src="/content/images/toby.jpg">
                <img src="/content/images/toby.jpg">
            </div>

            <div class="col-sm-6 cat-info">
                <h1 class="name"><%= name %></h1>
                <span class="breed">breed</span>
                <p class="description"><%= description %></p>

                <div class="">
                    <button id="like" class="btn btn-default">I heart <%= name %></button>
                </div>
            </div>
        </div>
    </script>

    <script id="login" type="text/template">
        <div class="container content-block">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Login</h2>
                    <form action="">
                        <div class="form-group">
                            <label for="exampleInputEmail">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </script>

    <script id="register" type="text/template">
        <div class="container content-block">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Register</h2>
                    <form action="">
                        <div class="form-group">
                            <label for="inputFirstName">First name</label>
                            <input type="email" class="form-control" id="inputFirstName" placeholder="First name">
                        </div>
                        <div class="form-group">
                            <label for="inputSurname">Surname</label>
                            <input type="email" class="form-control" id="inputSurname" placeholder="Surname">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email address</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </script>



    <script src="/Content/js/compiled/CofoundrySPA.js"></script>
</body>
</html>