@model HomeViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Cofoundry SPA Sample</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/screen.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,700" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/" class="logo">SPA Cats</a>
            </div>

            <div id="bs-example-navbar-collapse-6" aria-expanded="false" class="navbar-collapse collapse">
                <ul class="navbar__menu">
                    <li><a href="/" class="navbar__link">Cats</a></li>
                    <li><a href="/login" class="navbar__link unauth">Login</a></li>
                    <li><a href="/register" class="navbar__link unauth">Register</a></li>
                    <li><form action="/sign-out" method="POST"><button class="navbar__link logout auth hidden" type="submit">Logout</button></form></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="main">
        
    </main>

    <!-- TEMPLATES -->
    <script id="indexTemplate" type="text/template">
        <div class="hero-banner">
            <img src="/Content/images/cat-fight-hero.jpg">

            <div class="container hero-banner__overlay">
                <div class="hero-banner__text">
                    <h1>Cats SPArring!</h1>
                </div>
            </div>
        </div>

        <div id="cont" class="container content-block">
            <div class="row">
                
            </div>
        </div>
    </script>

    <script id="catItem" type="text/template">
        <a href="/cat/<%= catId %>">
            <div class="cat__image">
                <img src="<%= mainImage %>?width=263&height=263&mode=crop?width=263&height=263&mode=crop">
            </div>
            <div class="cat__details">
                <span class="name"><%= name %></span>
            </div>
        </a>
    </script>

    <script id="catDetails" type="text/template">
        <div class="container content-block">
            <div class="col-sm-6 cat-images">
                <% _.each(images, function(image) { %>
                    <img src="<%= image %>?width=540&mode=crop">
                <% }); %>
            </div>

            <div class="col-sm-6 cat-info">
                <h2 class="name"><%= name %></h2>
                <span class="breed"><%= breed.title %></span>
                <span class="likes"><%= totalLikes %></span>

                <div class="characteristics">
                    <span class="title">Characteristics:</span>
                    <% _.each(features, function(feature) { %>
                        <span class="characteristic"><%= feature.title %></span>
                    <% }); %> 
                </div>
                <p class="description"><%= description %></p>
                <button id="like" class="btn btn-love hidden">I <span class="glyphicon glyphicon-heart"></span> <%= name %></button>
            </div>
        </div>
    </script>

    <script id="login" type="text/template">
        <div class="container content-block">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Login</h2>
                    <form class="login-form">
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
                            <span class="error hidden"></span>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                            <span class="error hidden"></span>
                        </div>
                        <span class="error form-error hidden"></span>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <div class="message hidden">
                        <p>Login successful!</p>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="register" type="text/template">
        <div class="container content-block">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h2>Register</h2>
                    <form class="register-form">
                        <div class="form-group">
                            <label for="inputName">First Name</label>
                            <input type="text" name="firstname" class="form-control" id="inputName" placeholder="First Name">
                            <span class="error hidden"></span>
                        </div>
                        <div class="form-group">
                            <label for="inputSurname">Last Name</label>
                            <input type="text" name="lastname" class="form-control" id="inputSurname" placeholder="Last Name">
                            <span class="error hidden"></span>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email address</label>
                            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
                            <span class="error hidden"></span>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
                            <span class="error hidden"></span>
                        </div>
                        <span class="error form-error hidden"></span>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <div class="message hidden">
                        <p>Thank you for registering with SPA Cats! You now have access to extra features, such as favouriting the cats you love the most.</p>
                        <p>Enjoy!</p>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script>
        @*
            Our SPA requires some initial state to load so we output
            these as an js object    
        *@
        
        var SPACatsState = {
            csrfToken: "@Model.XSRFToken",
            isLoggedIn: @Model.IsLoggedIn.ToString().ToLower()
        };
    </script>

    <script src="/Content/js/compiled/CofoundrySPA.js"></script>

</body>
</html>