html {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    color: $cms-color-text;
    font-weight: 300;
}

strong, b {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;

    a {
        color: $cms-color-primary;
    }
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}