.navbar {
    background-color: $cms-color-primary;
    border: 0;
    height: 60px;
}

.navbar-toggle {
    margin-top: 12px;
}

.navbar-default .navbar-collapse {
    border: 0;
    background-color: $cms-color-secondary;

    @include respond-min($tablet) {
        background-color: transparent;    
    }
}

.navbar-header {
    height: 60px;
}

.navbar__menu {
    list-style-type: none;
    padding-left: 0;

    .navbar__link {
        background-color: transparent;
        border: 0;
        color: white;
        display: block;
        padding: 10px 0;
        width: 100%;
        text-align: left;
    }

    @include respond-min($tablet) {
        float: right;

        li {
            display: inline-block;
            line-height: 60px;
            padding: 0;

            &:hover {
                background-color: $cms-color-secondary;
            }
        }

        .navbar__link {
            padding: 0 15px;
        }
    }
}