// colors
$cms-color-primary:     #2C2233;
$cms-color-secondary:   #5E0042;
$cms-color-tertiary:    #005869;

$cms-color-hightlight:  #00856A;
$cms-color-lowlight:    #8DB500;

$cms-color-text:        #000;
$cms-color-border:      #ccc;

// dimensions
$breakpoint-max-width:1100px;
$breakpoint-narrow-tablet:650px;
$breakpoint-wide-mobile:480px;
$breakpoint-min-width:320px;